
$font-family-arial: arial, helvetica, sans-serif;

$color-background: mix(lightblue, white, 20%);
$color-blue: mix(lightblue, blue, 20%);
$color-lightblue: lightblue;
$color-red: red;

$border-radius-main: 4px;
